.l-inline-block {
    display: inline-block;
    vertical-align: top;
}

.l-list {
    text-align: justify;
}

.l-width-full {
    width: 100%;
}

.l-width-half {
    width: 50%;
}

.left {
    float: left;
}

.right {
    float: right;
}

.sub-heading {
    font-size: 30px;
    color: #4b4b4b;
}

.mb-30 {
    margin-bottom: 30px;
}

