{% extends "index.html" %}

{% block title %}Add New Item{% endblock title %}

{% block pagecontent %}
{% include "header.html" %}
<div class="container">
    <h1>Add New Item</h1>
    <form action="{{url_for('addNewItem')}}" method="post">
        <p>Item Title:</p>
        <input type="text" name="title" size="30">
        <p>Item Description:</p>
        <input type="text" name="desc" size="500">
        <p>Category name:</p>
        <input type="text" name="cat_name" size="30">
        <input type="submit" value="Submit">
    </form>
</div>
{% endblock pagecontent %}