<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel= "stylesheet" type= "text/css" href="{{ url_for('static', filename='styles/reset.css') }}"></link>
    <link rel= "stylesheet" type= "text/css" href="{{ url_for('static', filename='styles/catalog.css') }}"></link>
    <title></title>
</head>
<body>
    <div class="l-inline-block l-width-full">
        <div class="l-width-half left l-list">
            <h2 class="sub-heading mb-30">Categories</h2>
            <ul>
                {% for c in categories %}
                <li>{{c.name}}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="l-width-half right l-list">
            <h2 class="sub-heading mb-30">Latest Items</h2>
            <ul>
                {% for i in items %}
                <li>{{i.title}}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</body>
</html>