<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock title %}</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel= "stylesheet" type= "text/css" href="{{ url_for('static', filename='styles/catalog.css') }}"></link>
</head>
<body>
        <div class="row">
                <h1 class="col-md-8">Item Catalog</h1>
                <div class="col-md-4"><a class="login-button" href="{{url_for('showLogin')}}">Login</a></div>
            </div>
        {% block pagecontent %}{% endblock pagecontent %}
</body>
</html>