{% extends "header.html" %}
{% block title %}Catalog{% endblock title %}

{% block pagecontent %}
<div class="container">
    <div class="row">
        <a class="lead" href="{{url_for('addNewItem')}}">Add new item</a>
    </div>
    <div class="row">
            <div class="col-sm-6">
                    <h2 class="lead">Categories</h2>
                    <ul>
                        {% for c in categories %}
                        <li><a href="{{url_for('getItemsFromCategory', cat_name=c.name)}}">{{c.name}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-sm-6">
                    <h2 class="lead">Latest Items</h2>
                    <ul>
                        {% for i in items %}
                        <li><a href="{{url_for('getItemDetails', cat_name=i.category.name, item_title=i.title)}}">{{i.title}}<span>({{i.category.name}})</span></a></li>
                        {% endfor %}
                    </ul>
                </div>
    </div>
   
</div>
{% endblock pagecontent %}